[server]
port_rpc_admin_local
port_ws_public
port_rpc
port_peer
# port_ws_admin_local

[port_rpc]
port = 8282
protocol = http
ip = 0.0.0.0

[port_rpc_admin_local]
port = 5005
ip = 127.0.0.1
admin = 127.0.0.1
protocol = http

[port_ws_public]
port = 8181
ip = 0.0.0.0
secure_gateway = 127.0.0.1
protocol = ws

[port_peer]
port = 51235
ip = 0.0.0.0
protocol = peer

# [port_ws_admin_local]

# port = 6006
# ip = 127.0.0.1
# admin = 127.0.0.1
# protocol = ws

[node_size]
small
# tiny
# small
# medium
# large
# huge
[node_db]
type=NuDB
path=/etc/opt/ripple-db/nudb
advisory_delete=0
# How many ledgers do we want to keep (history)?
# Integer value that defines the number of ledgers
# between online deletion events
online_delete=2560
[ledger_history]
# How many ledgers do we want to keep (history)?
# Integer value (ledger count)
# or (if you have lots of TB SSD storage): 'full'
2560
[database_path]
/etc/opt/ripple-db/db
[debug_logfile]
/var/log/rippled/debug.log
[sntp_servers]
time.windows.com
time.apple.com
time.nist.gov
pool.ntp.org

[ips]
#r.ripple.com 51235
r.altnet.rippletest.net 51235
s.altnet.rippletest.net 51235

[validators_file]
validators.txt
[rpc_startup]
{ "command": "log_level", "severity": "warn" }
# severity (order: lots of information .. only errors)
# debug
# info
# warn
# error
# fatal
[ssl_verify]
1

[network_id]
1

[xpop_dir]
/config/xpop
